
/* Author: Tim Malone, Chromatix Digital Agency */
/* Date:   2017-07-06 */

body {
  margin: 0;
}

.network-graph {
  overflow-y: scroll;
  overflow-x: hidden;
}

  .network-graph svg {
    margin-bottom: -4px; /* Remove whitespace at the bottom of the page. */
  }
